* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: white;
  background-color: #849199;
  height: 100vh;
}
